{% extends 'base.html' %}
{% block content %}
    <p>
        <form action="/answer" method="POST"
            <label for="{{question_num}}">{{questions.question}}</label>
            <br>
            <input type="radio" name="{{question_num}}" value= {{questions.choices[0]}}> {{questions.choices[0]}}</input>
            <br>
            <input type="radio" name="{{question_num}}" value={{questions.choices[1]}}> {{questions.choices[1]}} </input>
            <br>
            <button>Submit</button>
        </form>
    </p>
    {% endblock %}

            